.display-first-section {
    position: relative;
    background-color: #DEE9CF;
    z-index: -20;
    overflow: hidden;
}
.content-sec-one{
    position: absolute;
    right: 30px;
    top: 110px;
}
.content-sec-one h2{
    /* font-size: 38px; */
    font-size: 40px;
    color: #FF0101;
}

.content-sec-one h1{
    /* font-size: 100px; */
    font-size: 70px;
    font-weight: 900;
    line-height: 65px;
}

.content-sec-one h3{
    /* font-size: 45px; */
    font-size: 30px;
    font-weight: 800;
    line-height: 70px;
    text-align: right;
}

.shop-now-btn{
    font-weight: 500;
    color: #738670;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.content-section-two{
   position: absolute;
   left: 20px;
   top: 2px;
   z-index: 10; 
}

.content-section-two h1{
    font-size: 60px;
    font-weight: 900;
    color: rgba(102, 0, 85, 0.744);
    line-height: 70px;
}

.content-section-two h2{
    font-size: 32px;
    font-weight: 900;
    color: #9fbf2ccf;
    line-height: 30px;
}

.content-section-three{
    position: absolute;
    left: 20px;
    bottom: 150px;
    z-index: 10;
}

.content-section-three h1{
    font-size: 40px;
    font-weight: 900;
    color: #b30502c8;
    line-height: 70px;
}

.content-section-three h2{
    font-size: 32px;
    font-weight: 800;
    color: #7c9033;
    line-height: 40px;
}

.column div{
    position: relative;
    float: left;
    padding: 0;
}

figure{
    width: 411px;
    height: 280px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
}

.hover05 figure img{
    margin-top: 50px;
    margin-left: 100px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
}

.hover05 figure:hover img{
    margin-left: 0;
}
